body.xmasLightShow {
  background-image: url('../images/XmasTreeBackground.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
}

div.container {
  background: rgba(51,102,255,0.5);
}

div.jumbotron {
  background-color: rgba(51,102,255,0.5);
  color: #ffffff;
  font-weight: bold;
}

.song_table,
.text {
  color: #ffffff;
  font-weight: bold;
}

.dataTables_length,
.dataTables_filter,
.dataTables_info {
  color: #ffffff;
  font-weight: bold;
}

.bar {
  background: #800000;
}
